.content {
  height: 100%;
  width: 100vw;
  background-color: lightgreen;
}

.game-info {
  padding: 1rem 2rem;
  display: flex;
}

.game-board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding-bottom: 1rem;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
