header {
  padding: 0 1rem;
  font-family: "Pokemon Hollow", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-style: normal;
  background-color: lightblue;
}

@media (max-width: 280px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
